.form__wrapper {
	width: 300px;
	height: 400px;
	padding: 70px;
	border-radius: 16px;
	background-color: #f2f2f2;
}

.form__wrapper form {
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.main__wrapper {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-top: 50px;
}

.info__wrap {
	width: 300px;
	height: 400px;
	padding: 70px;
	border-radius: 16px;
	background-color: #f2f2f2;
}

.info__header {
	display: inline-block;
	text-align: center;
	font-size: 14px;
	margin-bottom: 50px;
}

.btn__wrap button:first-child {
	margin-bottom: 10px;
}

.list__wrap {
	margin-top: 70px;
	margin-bottom: 70px;
}
